<%- include("header") %>

<form method="post" action="/api/books" class="main">
    <div class="mid">
        <label for="bookId">ID: </label>
        <input type="text" placeholder="Enter id(unique)" id="bookId" name="id" required/>
    </div>
    <div class="mid">
        <label for="bookName">Book Name: </label>
        <input type="text" placeholder="Enter Book name" id="bookName" name="name" required/>
    </div>
    <div class="mid">
        <button id="addBtn" type="submit"> ADD BOOK </button>
    </div>
</form>

<%- include("footer") %>